[Desktop Entry]
Version=1.0
Type=Application
Name=PredictGW
Comment=Industrial Predictive Monitoring Gateway
Exec=/home/mms/Downloads/workspce/Predict/launch_predictgw.sh
Icon=/home/mms/Downloads/workspce/Predict/assets/icon.svg
Terminal=false
Categories=Development;Engineering;Science;
Keywords=scada;predictive;industrial;gateway;
StartupWMClass=PredictGW
X-Desktop-File-Install-Version=0.28
